.box2{
    /*padding: 10px 50px;
    padding: 10px 50px 10px 50px;
    padding-top: 10;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;*/
    padding: 30px;
    background: rebeccapurple;
    color: white;
    margin-top: 30px;
    margin-left: 20px;
    overflow: hidden;
    border: 2px solid steelblue;
}